*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;   
}
.container{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.card{
    width: 100%;
    max-width: 540px;
    background-color: white;
    border-radius: 10px;
    padding: 40px 30px 70px;
    margin: 100px auto 20px ;

}
.card h2{
    color: #002;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card h2 img{
    width: 30px;
    margin-left: 10px;
}
.add-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
button{
    border: none;
    outline: none;
    background: orange;
    border-radius: 40px;
    padding: 16px 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #55555598;
    
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}